@CHARSET "UTF-8";

article {
	margin: auto;
	width: 30em;
}

figure {
	padding:1%;
	border-radius: 5px;
	background-color:skyblue;
}

.icons{
	margin:2px;
}

canvas{
	display: block;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
}

a,pre span.comment {
	color: royalblue;
}

a:visited,pre span.constant {
	color: indianred;
}

#clear-day {
	margin: 0px;
	background-color: skyblue;
	border-radius: 5px;
}