@CHARSET "UTF-8";

#popup {
	position:fixed;
  border:1px solid black;
  width:300px;
  height:130px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius:5px;
  background:#FFED8B;
}

body {
	height:320px;
	margin:0;
	padding:0;
	bgcolor:white;
	font:bold 7px fantasy;
}

li {
    list-style-type: none;
}

#main{
	height:320px;
}

#top{
  width: 100%;
  border:0px #DDD solid;
  /* border-radius:5px; */
  background-color:#DDD;
  background:linear-gradient(-30deg, #DDD, #EEE);
}

#slidepop{
	color:white;
  font-family: sans-serif;
  background : #2FACE8;
}

#sideList {
  	border:#DDD;
    background :rgba(255,255,255, 0.7);
    width: 20%;
    top: 8%;
}

#back{
	height:25px;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background:#f0f9ff;
}

.ui-panel-inner{
	padding-top:0px;
}

div #pcounter {
	color:white;
  font-family: sans-serif;
  background : #2FACE8;
}

div #inven {
	color:white;
	font-family: sans-serif;
	background : #2FACE8;
	border:0px;
  /* border-left:1px black solid;
  padding-left:20px;
  border-right:1px black solid;
  padding-right:20px; */
}

div #colist {
	color:white;
  font-family: sans-serif;
	background : #2FACE8;
}

.ui-btn,.ui-btn-inline {
  display:table-cell;
}

.ui-btn{
	border:0px;
	width:320px;
	padding:3px;
}

#map-canvas{
	width:100%;
	height:40%;
}


#collapsible{
	margin:0px;
	width:  100%;
}

#collapsible>h4{
	margin:0px;
	width:  100%;
}

#combineList{
	width: 100%;
  border:0px #fff solid;
  background-color:#fff;
}

.collalist .ui-btn-icon-right .ui-icon {
    display: none;
}

.sortName {
  font-size: small;
}

#sideList ul {
	padding: 0px;
}

.itemNameLi{
  position:relative;
  top:50%;
}
