@import url(http://fonts.googleapis.com/css?family=Muli);
 @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
 @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* temp += "<div id='endData" + i + "' class='endData' >"+"쿠폰사용이 종료되었습니다."+'</div>'; */
body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color:#B6BCC9;
  position: relative;
}

* {outline:none}




.eDate{
background-color: rgba(8, 0, 0, 0.2);
}



h1 {
  font-size: 25px;
  font-weight: 100;
  color: #2C2C2C;
  margin: 20px 25px;
}

a{
  text-decoration:none;
  color:#3476CA;
  &:hover {
    color:#6CB5F3;
  }
}


/*  컨테이너*/
.container {
  position:relative;
  width:390px;
  height:218px;
  left:50%;
  top:50%;
  margin-top:5%;
  margin-left:-200px;
  background-color:#FFF;
  border-radius:6px;
  box-shadow:0px 0px 24px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.slider-turn nav {
    padding-top:2%;
    width:370px;
    font-size: 16px;
    display:inline;
    color: #ffff;
    font-weight: 400;
    height: 140px;
    float:left;
    margin:0;
/*     border: solid 1px green; */
}


#dataInfo{
	z-index: 10;
}



/*속성에 관하여  */
#gImage{
padding-left:5%;
padding-right:3%;
width:30%;height:80%;
position:relative;
left: 0%;
float:left;
 font-family:'Nanum Gothic';
}


#cName{
	padding-top:2%;
	color:#989898;
	text-indent: 2%;
	font-size: 120%;
	 font-family:'Muli';
}


#gTitle{
	color:#989898;
	text-indent: 2%;
	font-size: 80%
	
	}
	
#gEdate{
	padding-top:2%;
	color:#989898;
	text-indent: 2%;
	font-size: 70%;
}	


#barcodeImg{width:54%;height:70%;
padding-left:18%; 
 align:center;
   z-index: 1;  
   
}

#cCode{
color:#ffffff;
	text-indent: 28%;
	font-size: 70%;
	
}

#gDesc{
	color:#989898;
	text-indent: 32%;
	font-size: 90%;

	}


.edate{
	opacity:0.5;
}


	
}	
#cSerial{
color:#989898;
	text-indent: 2%;
	font-size: 80%;	
}	
#cGdate{
	color:#989898;
	text-indent: 2%;
	font-size: 60%;
}	
#uPay{
padding-top:4%;

	text-indent: 2%;
	font-size: 80%;
	color:#4C91A2;
	font-family:'Muli';
		
}	


/*취소버튼*/


.cancel{
	padding-left:85%;
	width: 5%;
	height: 12%;
}


/* 삭제버튼 */
.delete {
 position: absolute; 
 bottom: 0px; 
right: 80%; 
left: 0px; 
	flex:1;
  background-color:#D2D2D2;
  border:0;
  margin:0;
  padding:0;
  text-transform:uppercase;
  color:#fff;
  font-weight:bold;
 
  cursor:pointer;
  transition:all .3s;
  height: 17%;
  width:50%;
  vertical-align: bottom;
  border-bottom-left-radius:6px;
  text-align: center;
  line-height: 250%;
  
	}
.delete:hover {
  background-color:#52AEC2;
  transition:all .3s;
}
.delete:active {
  background-color:#52AEC2;
}

.endData{
  color:#14B9D5;
  z-index: 10;
   position:relative;

}

/* 사용하기 버튼 */
.use {
 position: absolute; 
 bottom: 0px; 
left: 80%; 
right: 0px; 
  flex:1;
  background-color:#D2D2D2;
  border:0;
  margin:0;
  padding:0;
  text-transform:uppercase;
  color:#fff;
  font-weight:bold;
  border-bottom-right-radius:6px;
  cursor:pointer;
  transition:all .3s;
  width:50%;
  height: 17%; 
  left:50%;
  text-align: center;
  line-height: 250%;

}
.use:hover {
  background-color:#52AEC2;
  transition:all .3s;
}
.use:active {
  background-color:#52AEC2;
}


/* 축으로하는 박스*/
.slider-container {	
  padding-top:1%;
  width:350px;
  margin:0 25px;
/*  overflow:hidden;  */
/*    border: solid 2px green; */
}

/*돌아가는 너비*/
.slider-turn{
margin-left:0px;
width:740px;
/* border: solid 2px red; */

}