@CHARSET "UTF-8";

.basicTable{
	border:3px solid skyblue;
	width:100%;
}

.basicTd{
	width: 25%;
}

#itemReq{
	position:relative;
	top:-15px;
	left:20px;
	font: 11pt Sans-serif bold;
	color:#0cd1e8;
	text-shadow:1px -1px #3fa5e0;
}

tr{
	width: 100%;
  display: flex;
	padding:0px;
}

td{
	padding:0px;
}