<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="waku.dao.GoodsDao">
  <resultMap type="goods" id="goodsResultMap">
    <id     property="gNo"       column="G_NO"/>
    <result     property="cNo"     column="C_NO"/>
    <result     property="gImage"     column="G_IMAGE"/>
    <result     property="gTitle"     column="G_TITLE"/>
    <result     property="gDesc"     column="G_DESC"/>
    <result     property="gEdate"     column="G_EDATE"/>
    <result     property="iNo"     column="I_NO"/>
    <result     property="iClass"     column="I_CLASS"/>
    <result     property="iImage"     column="I_IMAGE"/>
    <result     property="iReq"    column="I_REQ"/>
  </resultMap>

<select id="goodsInformation" parameterType="map" resultMap="goodsResultMap">
    SELECT T1.G_NO, T2.I_NO, T4.I_CLASS, T4.I_IMAGE, T2.I_REQ, T3.C_NO, T3.G_IMAGE, T3.G_TITLE, T3.G_DESC, T3.G_EDATE, T3.G_VALID
		FROM (
		SELECT G_NO, COUNT(G_NO) CNT FROM ELEMENT WHERE I_NO IN (${joinList}) group by G_NO)
		T1 LEFT OUTER JOIN ELEMENT T2 USING(G_NO) 
		LEFT OUTER JOIN GOODS T3 USING(G_NO)
		LEFT OUTER JOIN ITEM T4 USING(I_NO)
		WHERE T1.CNT = #{selectCount} AND T3.G_VALID = 1;
  </select>
</mapper>