<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="waku.dao.GoodsDao">
  <resultMap type="goods" id="goodsResultMap">
    <id     property="gNo"       column="G_NO"/>
    <result     property="cNo"     column="C_NO"/>
    <result     property="gImage"     column="G_IMAGE"/>
    <result     property="gTitle"     column="G_TITLE"/>
    <result     property="gDesc"     column="G_DESC"/>
    <result     property="gEdate"     column="G_EDATE"/>
    <result     property="iNo"     column="I_NO"/>
    <result     property="iClass"     column="I_CLASS"/>
    <result     property="iImage"     column="I_IMAGE"/>
    <result     property="iReq"    column="I_REQ"/>
    
    <!-- <association property="company" javaType="company">
      <result property="cNo"    column="C_NO"/>
      <result property="cName"  column="G_NAME"/>
      <result property="cImage"  column="C_IMAGE"/>
      <result property="cPage"  column="C_PAGE"/>
      <result property="cAd"  column="C_AD"/>
    </association> -->
  </resultMap>

	<select id="goodsInformation" parameterType="map" resultMap="goodsResultMap">
	    SELECT T1.G_NO, T2.I_NO, T4.I_CLASS, T4.I_IMAGE, T2.I_REQ, T3.C_NO, T3.G_IMAGE, T3.G_TITLE, T3.G_DESC, T3.G_EDATE, T3.G_VALID
	    FROM (
	    SELECT G_NO, COUNT(G_NO) CNT FROM ELEMENT WHERE I_NO IN (${joinList}) group by G_NO)
	    T1 LEFT OUTER JOIN ELEMENT T2 USING(G_NO)
	    LEFT OUTER JOIN GOODS T3 USING(G_NO)
	    LEFT OUTER JOIN ITEM T4 USING(I_NO)
	    WHERE T1.CNT = #{selectCount} AND T3.G_VALID = 1;
	</select>
	
	<update id="soldOutGno" parameterType="int">
    update GOODS set 
      G_VALID=0
    where G_NO=#{gNo}
  </update>

	<select id="selectList" resultMap="goodsResultMap">
		select G_NO,C_NO,G_IMAGE,G_TITLE,G_DESC,G_EDATE,G_VALID
		from GOODS
	</select>
  
  <delete id="delete" parameterType="int">
    delete from GOODS where G_NO=#{value}
  </delete>
  
  <select id="ByCompany" parameterType="int" 
     resultMap="goodsResultMap">
    select T1.G_NO,T1.C_NO,T1.G_IMAGE,T1.G_TITLE,T1.G_DESC,T1.G_EDATE,T1.G_VALID,T2.C_NO,T2.C_NAME,T2.C_IMAGE,T2.C_PAGE,T2.C_AD
    from GOODS T1 left outer join COMPANY T2
    using(C_NO)
    where C_NO=#{value}
  </select>
</mapper>