<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="waku.dao.PaceDao">
  <resultMap type="pace" id="paceResultMap">
    <id     property="uNo"       column="U_NO"/>
    <result property="wCount"     column="W_COUNT"/>
  </resultMap>  
  
  <select id="selectOne" parameterType="int" resultMap="paceResultMap">
    select U_NO,W_COUNT
    from PACE
    where U_NO=#{uNo}
  </select>
 </mapper>